<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org.extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<H1>Weclome to my Employee page</H1>
<hr>
<p>user <span sec:authentication="principal.username"/></p>
<br>
Role <span sec:authentication="principal.authorities"/>
<hr>

<p>user <span sec:authentication="principal.username"/></p>
<br>
Role <span sec:authentication="principal.authorities"/>
<br>
<hr>
<div sec:authorize="hasRole('EMPLOYEE')">
    <a th:href="@{employee}"> go to employee page</a>
</div>
<div sec:authorize="hasRole('MANAGER')">
    <a th:href="@{manager}"> go to manager page</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{admin}"> go to admin page</a>
</div>
<HR>
<h2> Do visit again</h2>
<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
</body>
</html>