<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <style>
        .error{color:red;}
    </style>
</head>
<body>

Welcome to customer registration form
<br><br>
<FORM th:object="${customer}" th:method="post" th:action="@{result}">
    First Name :
    <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last Name (*):
    <input type="text" th:field="*{lastName}" />
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"
    ></span>
    <br><br>
    Free passes (*):
    <input type="number" th:field="*{freePass}" />
    <span th:if="${#fields.hasErrors('freePass')}"
          th:errors="*{freePass}"
          class="error"
    ></span>
    <br><br>
    <input type="submit"/>

</FORM>

</body>
</html>